<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body class="bg-dark text-white">

	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
  		<div class="container-fluid">
   		 <a class="navbar-brand" href="#">TuneHubApp</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    		</button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      	 <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/map-home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/map-register" >Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map-login">Login</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
	<div  class="container ">
	<form action="/register" method="post">
	<div class="mt-3">
			<h1 class="text-center ">Register</h1>
		</div>
		<div class="row  mb-3 ">
			<label class="col-sm-2 col-form-label col-form-label-sm">User Name :</label>
			<div class="col-sm-10">
				<input type="text" name="username" class="form-control"  />
			 </div>
  		</div>
		<div class="row  mb-3 ">
			<label class="col-sm-2 col-form-label col-form-label-sm">Email Id :</label>
			<div class="col-sm-10">
				<input type="email" name="email" class="form-control" />
			</div>
  		</div>
  		<div class="row  mb-3 ">
		<label class="col-sm-2 col-form-label col-form-label-sm">Password : </label>
			<div class="col-sm-10">
		<input type="password" name="password" class="form-control"  />
			</div>
  		</div>
		
		<div class="row  mb-3 ">
		<label class="col-sm-2 col-form-label col-form-label-sm">Gender :</label>
		<div class="col-sm-10">
		M<input type="radio" name="gender" value='male' class="ms-1 px-2 "/>
		F<input type="radio" name="gender" value='female' class="ms-1 px-2 "/>
		O<input type="radio" name="gender" value='other' class="ms-1 px-2 "/>
			</div>
  		</div>
		
		<div class="row  mb-3 ">
		<label class="col-sm-2 col-form-label col-form-label-sm">Role :</label>
		<div class="col-sm-10">
		Admin<input type="radio" name="role" value='admin' class="ms-1 px-2 " />
		Customer<input type="radio" name="role" value='customer' class="ms-1 px-2 " />
		
		</div>
  		</div>
		<div class="row  mb-3 ">
		<label class="col-sm-2 col-form-label col-form-label-sm">Address :</label>
		<div class="col-sm-10">
		<textarea name="address" class="form-control" ></textarea>
		
			</div>
  		</div>
		<div >
		<input type="submit" class="btn btn-sm btn-secondary rounded d-grid gap-2 col-2 mx-auto" value="REGISTER"/>
		</div>
	</form>
	</div>
</body>
</html>