<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body class="bg-dark text-white">
<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
  	<div class="container-fluid">
    <a class="navbar-brand" href="#">TuneHubApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
      	 <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/map-home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/map-register" >Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/map-login">Login</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
	</div>
<div class="text-center mt-5" >

		<h1 >Enjoy Song With Premium ! </h1>
		<p>......................................</p>
		
    	<form id="payment-form">
	        <button type="submit" class="btn-md buy-button rounded bg-secondary col-2" >BUY</button>
	    </form>
   
</div>
<script>
$(document).ready(function() {
    $(".buy-button").click(function(e) {
        e.preventDefault();
        var form = $(this).closest('form');
        
        
        createOrder();
    });
});

function createOrder() {
	
    $.post("/createOrder")
        .done(function(order) {
            order = JSON.parse(order);
            var options = {
                "key": "rzp_test_xHewoTOUDSQAOA",
                "amount": order.amount_due.toString(),
                "currency": "INR",
                "name": "Tune Hub",
                "description": "Test Transaction",
                "order_id": order.id,
                "handler": function (response) {
                    verifyPayment(response.razorpay_order_id, response.razorpay_payment_id, response.razorpay_signature);
                },
                "prefill": {
                    "name": "Your Name",
                    "email": "test@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Your Address"
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        })
        .fail(function(error) {
            console.error("Error:", error);
        });
}

function verifyPayment(orderId, paymentId, signature) {
     $.post("/verify", { orderId: orderId, paymentId: paymentId, signature: signature })
         .done(function(isValid) {
             if (isValid) {
                 alert("Payment successful");
                 window.location.href = 'payment-success';
             } else {
                 alert("Payment failed");
                 window.location.href = 'payment-failure';
             }
         })
         .fail(function(error) {
             console.error("Error:", error);
         });
}
</script>
	

</body>
</html>